<%- include("partials/header.ejs") %>
<body>
    <div id="menu">
        <div id="settings">
            <span class="material-symbols-outlined" title="settings">settings</span>
            <!-- write here the hidden buttons which get enabled when settings button is clicked-->
            <div id="settings-opt">
                <button id="logout">Logout</button>
                <button id="delete-user">Delete Permanently</button>
            </div>
        </div>
        <div id="newtask" title="new task">
            <span class="material-symbols-outlined add">add</span>
        </div>
    </div>
    <div id="all-tasks">
        <% dates.forEach(date => { %>
            <div class="date-div" id="<%=date%>">
                <% if (dates[0] == date) { %>
                    <h1 class="date" style="margin-top: 0.5rem;"><%= date %></h1>
                <% } else {%>
                <h1 class="date"><%= date %></h1>
                <% } %>
            </div>
            <% tasks[date].forEach(task => { %>
                <div id="edit-div-<%= task.id %>" class="hide edit-div">
                    <textarea type="text" autofocus required id="edit-input-<%= task.id %>" class="edit-input"></textarea>
                    <span class="material-symbols-outlined check" id="check-<%=task.id%>">check</span>
                </div>
                <div id="div-<%= task.id %>" class="task-div" data-date="<%=date%>">
                    <input type="checkbox" id="<%= task.id %>" onchange="taskcompleted(<%= task.id %>)">
                    <label for="<%= task.id %>">
                        <%= task.task %>
                    </label>
                    <span class="material-symbols-outlined edit" id="edit-<%= task.id %>">edit</span>
                </div>
            <% }) 
        }) %>
    </div>
    <script id="bootstrap" type="application/json">
        <%- JSON.stringify({tasks}) %>
    </script>
    <script src="tasks.js"></script>
</body>
</html>